{
  "root": true,
  "extends": ["airbnb", "plugin:react/recommended"],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "16.0"
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "expect": true,
    "describe": true,
    "it": true
  },
  "rules": {
    "react/jsx-no-bind": [
      "error",
      {
        "allowArrowFunctions": true,
        "allowBind": false,
        "ignoreRefs": true
      }
    ],
    "react/no-did-update-set-state": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "import/no-unresolved": [2, { "commonjs": true }],
    "import/extensions": ["error", "as-needed"],
    "jsx-a11y/label-has-for": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ]
  }
}
