#main-card {
  img {
    max-height: 183px;
    max-width: 293px;
  }
  .image {
    max-height: 100%;
    max-width: 40%;
  }
  .card {
    box-shadow: 2px 0 8px $drop-shadow-color;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card>.content p, .card>.content>.description, .card>.content>.description a {
    color: $lighter-text-color;
    font-size: 12px;
  }
  #card-header {
    padding: 20px 0;
    font-family: "Abel", sans-serif;
    letter-spacing: 3px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  #card-header a {
    color: $dark-text-color;
  }
  .avatar {
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
  .main-card {
    display: flex;
    flex-direction: row;
    max-height: 170px;
  }
  .vertical-card {
    box-shadow: 2px 0 8px $drop-shadow-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 35%;
    height: 365px;
    max-height: 630px;
    margin-right: 15%;
    #card-header {
      margin-bottom: 10px;
    }
    .image {
      height: 100%;
      max-height: 50%;
      max-width: 100%;
    }
  }
  .horizontal-plain {
    .content {
      border-top: none;
    }
    border-top: none;
    background-color: transparent;
    box-shadow: none;
    border-right: 1px solid $darker-secondary-color;
    border-radius: unset;
  }
  .content.extra {
    display: flex;
    flex-direction: row;
  }
  @media(max-width: 425px) {
    img {
      max-height: 110px;
      max-width: 293px;
    }
    .image{
      max-height:100%;
      max-width:40%;
    }
    .main-card {
      max-height: 130px;
    }
    #card-header {
      padding: 5px 0;
      font-family: "Abel", sans-serif;
      letter-spacing: 3px;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 320px) {
    #card-header {
      margin-bottom: unset;
    }
    .description {
      margin-top: -.5em;
    }
  }
}