$primary-color: #27494a;
$secondary-color: #e4caa6;
$darker-secondary-color: #805213;
$footer-grey: #c4c4c4;
$footer-greyII: #e5e5e5;
$background-color: #fff;
$lighter-text-color: rgba(0, 0, 0, 0.45);
$dark-text-color: rgba(0, 0, 0, 1);
$drop-shadow-color: rgba(190, 165, 165, 0.15);
