.padding-10 {
    padding: 20px 0;
  }
  
  .padding-20 {
    align-content: center;
  }
  
  .centralize {
    margin: auto !important;
  }
  
  .ui divided {
    color: red !important;
  }
  
  .reda {
    color: red;
  }
  
  .social-icon {
    width: 50.07px;
    height: 50px;
    left: 1199.67px;
    top: 2907px;
  }
  
  .wrapcontent {
    display: flex;
  }
  
  .footercolour {
    background: #c4c4c4 !important;
  }
  
  .footertext {
    color: #27494a !important;
    width: 239.19px;
    height: 25.05px;
    left: 128.18px;
    top: 2850px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    letter-spacing: 0.05em;
  }
  
  .socialicon {
    color: #27494a !important;
    font-size: 50px !important;
  }
  
  .thegridclass {
    display: block;
  
    margin-left: auto;
    margin-right: auto;
  }
  
  .thegridclass2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }
  
  @media (max-width: 767px) {
    .thegridclass {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      text-align: center;
    }
  }
  
  .mm {
    padding: 70px 40px 0 0;
  }
  
  .footer2-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: lighter !important;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #27494a;
    text-align: center;
  }
  
  .footer2-heart-icon {
    font-size: 25px !important;
    font-weight: lighter !important;
  }
  
  .footer2 {
    margin-top: 0 !important;
    background: #e5e5e5 !important;
  }

  .bgk {
      color: red !important;

  }
  .vl {
    border-left: 1px solid rgb(227, 229, 231);
    height: 100%;
    }
