#header-card {
  .column {
    padding: 0;
  }
  .card {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0px;
    margin: 0.875em 0em;
    width: 100%;

    img {
      height: 350px;
    }

    .content {
      border-top: none !important;
      padding: 1em 2em;

      img {
        border-radius: 50%;
        height: 32px;
        margin-right: 10px;
        width: 32px;
      }

      a:hover {
        color: $secondary-color;
      }

      .date {
        padding: 6px 0;
      }

      .header {
        color: $lighter-text-color;
        font-family: $title-font;
        font-size: 20px;
        letter-spacing: 3px;
      }

      .description {
        font-family: $description-font;
        font-size: 26px;
        letter-spacing: 3px;
        line-height: 1.5;
        a {
          color: $dark-text-color;
        }
      }
    }
  }
}
.ui.card > :first-child,
.ui.cards > .card > :first-child {
  border-radius: 0 !important;
  border-top: none !important;
}

@media only screen and (max-width: 768px) {
  #header-card {
    .column {
      padding: 0 !important;
    }
    .card {
      img {
        height: 150px;
      }
      .content {
        .header {
          color: $lighter-text-color;
          font-family: $title-font;
          font-size: 10px;
          letter-spacing: 3px;
        }
        .description {
          font-family: $description-font;
          font-size: 18px;
          letter-spacing: 1.5px;
          line-height: 1.2;
          a {
            color: $dark-text-color;
          }
        }
        img {
          margin-right: 7px;
          border-radius: 50%;
          height: 16px;
          width: 16px;
        }
      }
      .extra.content {
        a, span {
          font-size: 10px;
        }
      }
    }
  }
}
