.menubar {
  height: 80px;
  background: green;
}
.header-image-card {
  height: 600px;
  .image-card-1 {
    flex: 1;
  }
  .image-card-2 {
    flex: 2;
  }
  .image-card-3 {
    flex: 1;
  }
}
.homepage-welcome-container {
  padding: 25px 62px;
  margin: 1em 0 0 0;
  .ui.message {
    height: 394px;
    background: #E5E5E5;
    padding-right: 5em;
    padding-left: 5em;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    h2 {
      font-family: $title-font;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 62px;
      color: #27494A;
      letter-spacing: 0.1em;
      margin-top: .75em;
    }
    p {
      font-family: $title-font;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: #27494A;
      font-size: 26px;
      max-width: 75%;
      margin-top: 1em;
    }
  }
  .homepage-welcome-button {
    flex: 1;
    position: relative;
    #button {
      /* Rectangle */
      position: absolute;
      top: 262px;
      right: 147px;
      width: 260px;
      height: 61px;
      border: 1px solid #27494A;
      box-sizing: border-box;
      border-radius: 2px;
      span {
        font-family: $title-font;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 28px;
      }
    }
  }
}
.featured-top-paid {
  height: 450px;
  background: white;
  display: flex;
}

.trending {
  height: 450px;
  .ruler {
    width: 45%;
    margin-left: 0;
  }
  .more-button {
    width: 100px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}
.featured-top-paid {
  margin-top: 10rem;
  margin-bottom: 10rem;
  .featured {
    flex: 2;
  }
  .ruler {
    width: 85%;
    margin-left: 0;
  }
  .top-paid {
    flex: 1;
  }
}
@media (max-width: 768px) {
  .featured-top-paid {
    display: block;
    height: 80em;
    margin-top: 0;
    .featured, .top-paid {
      margin-top: 3rem;
      margin-bottom: 3rem;
      flex: none;
    }
    .ruler {
      width: unset;
    }
  }
  .trending {
    height: 95rem;
    .ruler {
      width: unset;
      margin-left: 0;
    }
  }
}

.sub-heading {
  font-family: $title-font;
  font-size: 35px;
  line-height: 38px;
  letter-spacing: 5px;
  text-align: left;
  font-weight: 600;
}

.top-footer {
  height: 225px;
  margin-bottom: 5rem;
}
.bottom-footer {
  height: 63px;
}

@media (max-width: 768px) {
  .header-image-card {
    height: 18rem;
  }
  .homepage-welcome-container {
    padding: 15px 37px;
    margin: 8em 0 0 0;
    .ui.message {
      height: 250px;
      padding-left: 5em;
      padding-right: 5em;
      text-align: center;
      h2 {
        margin-top: unset;
        font-size: 37px;
      }
      p {
        font-size: 15px;
      }
      button {
        display: block;
        margin-right: 2em;
      }
    }
    .ui.message>:last-child {
      padding-left: unset;
      padding-right: 8em;
    }
  }
  .homepage-container {
    padding: 15px 37px;
    // width: 95%;
  }
}

@media (max-width: 425px) {
  .homepage-welcome-container {
    // padding: 10px 22px;
    padding: unset;
    margin: 7em 0 0 0;
    .ui.message {
      height: 250px;
      padding-left: unset;
      padding-right: unset;
      text-align: center;
      h2 {
        margin-top: unset;
        font-size: 37px;
      }
      p {
        font-size: 15px;
        margin-left: 3em;
      }
      button {
        width: 180px;
        height: 61px;
        margin-right: 10em;
        span {
          font-family: $title-font;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 18px;
        }
      }
    }
    .ui.message>:last-child {
      padding-left: unset;
      padding-right: unset;
    }
  }
  .homepage-container {
    padding: 10px 22px;
  }
  .featured-top-paid {
    display: block;
    height: 55em;
    margin-top: 0;
  }
  .trending {
    height: 65rem;
  }
}

@media (max-width: 320px) {
  .homepage-welcome-container {
    .ui.message {
      height: 300px;
      button {
        width: 160px;
        height: 41px;
        border: 1px solid #27494A;
        box-sizing: border-box;
        border-radius: 2px;
        margin-top: 2em;
        span {
          font-family: $title-font;
          font-size: 16px;
        }
      }
    }
    .ui.message>:last-child {
      padding-left: 22em;
    }
  }
}
