#horizontal-card {
  img {
    max-height: 183px;
    max-width: 293px;
  }
  .card {
    box-shadow: 2px 0 8px $drop-shadow-color;
  }
  .card>.content p, .card>.content>.description, .card>.content>.description a {
    color: $lighter-text-color;
    font-size: 12px;
  }
  #card-header {
    padding:20px 0;
    font-family: "Abel", sans-serif;
    letter-spacing: 3px;
    font-size: 22px;
    margin-bottom: 35px;
  
  }
  #card-header a {
    color: $dark-text-color;
  }
  .avatar {
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
  .horizontal-card{
    display: flex;
    flex-direction: row;
    max-height:200px;
  }
  .image{
    max-height:100%;
    max-width:40%;
  }
  .horizontal-plain {
    .content{
      border-top: none;
    }
    border-top: none;
    background-color:transparent;
    box-shadow: none;
    border-right: 1px solid $darker-secondary-color;
    border-radius: unset;
  }
}
