@import "./colours";
@import "./fonts";
@import "./button";

body {
  background: lighten($color: $background-color, $amount: 20);
  font-family: "Lato", sans-serif;
  // height: 100%;
  margin: 0;
  padding: 0;
  // width: 100%;
}
