@import "./colours";
@import "./fonts";
@import "./button";
@import "./head-card";
@import "./auth-form-modal";
@import "./loginCard";
@import "./avatar";
@import "./header";
@import "./footer";

body {
  background: lighten($color: $background-color, $amount: 20);
  font-family: "Lato", sans-serif;
  // height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // width: 100%;
}

a {
  color: $darker-secondary-color;
  &:hover {
    color: $secondary-color;
    cursor: pointer;
    transition: 300ms all ease-in-out;
  }
}
