@import "./colours";
@import "./font";

.login_div {
  position:fixed;
  top: 50%;
  left: 50%;
  width:30em;
  height:34em;
  margin-top: -17em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  box-shadow: 2px 0 8px rgba(190, 165, 165, 0.15) !important;
}

.login_card {
  width: 100% !important;
  height: 100%;
  background: #f9f9f9 !important;
  a {
    color: $darker-secondary-color;
  }
}

img {
  width: 1.6em;
  height: 1.6em;
  margin-right: 1em;
}
.content-div {
  text-align: center;
  h1 {
    font-family: $title-font;
    margin-top:2em;
    margin-bottom: 1.2em;
    color: $primary-color;
    font-size: 2.5em
  }
}
.button {
  width: 60% !important;
  margin-left: 5.5em !important;
  margin-top:1.5em !important;
  border:1px solid $primary-color !important;
}
#login-footer {
  position: absolute;
  bottom: 1.5em;
  left: 7.5em;
  right: auto;
}

#email {
  margin-top: 1em;
  font-size: 11px;
}