.MenubarWrapper {
  margin: 0 20px 0 5px;
  font-size: 1.6em;
}

.caret {
  width: 20px;
}

.Menubar {
  padding: 25px;
  div {
    div {
      div {
        margin-right: 10px;
        flex: 2 !important;
      }
    }
  }
}

.MenubarItem {
  font-family: $title-font;
  font-style: normal;
  font-size: 1em;
  line-height: 28px;
  text-align: center;
  letter-spacing: 50%;
  cursor: pointer;
  color: $darker-secondary-color;
}

@media only screen and (max-width: 375px) {
  .MenubarWrapper {
    margin: 0 10px 0 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .MenubarItem {
    font-size: 16px;
  }

  .MenubarWrapper {
    margin: 0 10px 0 30px;
  }
}
