@media (min-width: 48em) {
  #success {
    .success-box {
      margin: auto;
      margin-top: 2em;
      margin-bottom: 15.3em;
      font-family: $logo-font !important;
      font-size: 2rem;
      padding: 1em; 
      width: 50%;
      h3{
        position: relative;
        top: 50%;
        padding: 1em; 
        transform: translateY(-50%);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 0.2em;
        border: 2px solid #73AD21;
      }
      #success-text{
        margin-top:0em !important;
        padding: 1em;
        color: $primary-color;
        margin-left: 25%;
      }
    }
  }
}
@media only screen and (max-width : 47.9375em) {
  #success{
    .success-box {
      margin: auto;
      margin-top: 2em;
      margin-bottom: 33.3em;
      font-family: $logo-font !important;
      font-size: 2rem;
      padding: 1em; 
      width: 100%;
      h3{
        position: relative;
        width: 100%;
        padding: 1em; 
        transform: translateY(-50%);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 0.2em;
        border: 2px solid #73AD21;
      }
      #success-text {
        margin-top:0em !important;
        padding: 1em;
        color: $primary-color;
        margin-left: 25%;
      }
    }
  }
}
