
.mt-30 {
  margin-top: 30px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.bgk {
  background: red !important;
}

.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-100 {
  margin-left: 110px !important;
}

.mg-50 {
  margin: 50px 0;
}
.searchcard {
  max-width: 434px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  background:#fff !important;
  border-radius: 5px !important;
  font-family: $title-font;
}

.pull-right {
  float: right;
}

.searchcardtitle {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 19px;
  letter-spacing: 0.15em;
  color: #000000;
}

.searchcardcategory {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  letter-spacing: 0.15em;
  color: rgba(0, 0, 0, 0.45);

}
